.menu {
  /**/
}

.score {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  text-align: center;
}

.action {
  display: inline-block;
}
.action:disabled {
  border-color: transparent;
  cursor: default;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
  background: #111;
  height: 300px;
  width: 320px;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.winner .description {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.winner .win {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  gap: 15px;
  padding: 0.5rem 1rem;
}

.box {
  background-color: rgb(200 200 200);
  border-radius: 50px;
  box-shadow: 0 0 0 4px #242424, 0 0 0 8px rgb(200 200 200 / 0.7);
  height: var(--size);
  left: var(--pos-x);
  position: fixed;
  top: var(--pos-y);
  transition: box-shadow 0.2s ease-in-out;
  width: var(--size);
}
.box:hover {
  box-shadow: none;
}
