.copyright {
  filter: invert(1);
  border: 1px solid white;
  color: white;
  position: fixed;
  left: 16px;
  bottom: 16px;
  text-align: left;
  padding: 8px 24px;
  border-radius: 32px;
  opacity: .95;
}

.copyright span {
  font-size: 14px;
  color: #09f;
  opacity: .8;
}

.copyright h4, .copyright h5 {
  margin: 0;
  display: flex;
}